<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" type="text/css" href="design.css">
	    <title>Node</title>
	</head>
	<body>
	    <h1>Node name : $$</h1>
	    <div class="interfaces">
	   		<table style="width:100%">
			  <tr>
			    <th>Interface</th>
			    <th>@IP</th>
			  </tr>
			  <tr>
			    <td>Interface1</td>
			    <td>@IP1</td>
			  </tr>
			  <tr>
			    <td>Interface2</td>
			    <td>@IP2</td>
			  </tr>
			</table>
	   	</div>
	   	<div class="interfaces">
	   		<table style="width:100%">
			  <tr>
			    <th>IfIndex</th>
			    <th>Descr</th>
			    <th>Type</th>
			    <th>Mtu</th>
			    <th>Speed</th>
			    <th>PhysAddress</th>
			    <th>AdminStatus</th>
			    <th>OperStatus</th>
			    <th>LastChange</th>
			    <th>InOctets</th>
			    <th>InUcastPkts</th>
			    <th>InNUcastPkts</th>
			    <th>InDiscards</th>
			    <th>InErrors</th>
			    <th>InUnknownProtos</th>
			    <th>OutOctets</th>
			    <th>OutUcastPkts</th>
			    <th>OutNUcastPkts</th>
			    <th>OutDiscards</th>
			    <th>OutErrors</th>
			    <th>OutQLen</th>
			    <th>Specific</th>
			  </tr>
			  <tr>
			    <td>Interface1</td>
			    <td>Descr1</td>
			    <td>Type1</td>
			    <td>Mtu1</td>
			    <td>Speed1</td>
			    <td>PhysAddress1</td>
			    <td>AdminStatus1</td>
			    <td>OperStatus1</td>
			    <td>LastChange1</td>
			    <td>InOctets1</td>
			    <td>InUcastPkts1</td>
			    <td>InNUcastPkts1</td>
			    <td>InDiscards1</td>
			    <td>InErrors1</td>
			    <td>InUnknownProtos1</td>
			    <td>OutOctets1</td>
			    <td>OutUcastPkts1</td>
			    <td>OutNUcastPkts1</td>
			    <td>OutDiscards1</td>
			    <td>OutErrors1</td>
			    <td>OutQLen1</td>
			    <td>Specific1</td>
			  </tr>
			  <tr>
			    <td>Interface2</td>
			    <td>Descr2</td>
			    <td>Type2</td>
			    <td>Mtu2</td>
			    <td>Speed2</td>
			    <td>PhysAddress2</td>
			    <td>AdminStatus2</td>
			    <td>OperStatus2</td>
			    <td>LastChange2</td>
			    <td>InOctets2</td>
			    <td>InUcastPkts2</td>
			    <td>InNUcastPkts2</td>
			    <td>InDiscards2</td>
			    <td>InErrors2</td>
			    <td>InUnknownProtos2</td>
			    <td>OutOctets2</td>
			    <td>OutUcastPkts2</td>
			    <td>OutNUcastPkts2</td>
			    <td>OutDiscards2</td>
			    <td>OutErrors2</td>
			    <td>OutQLen2</td>
			    <td>Specific2</td>
			  </tr>
			  <tr>
			    <td>Interface3</td>
			    <td>Descr3</td>
			    <td>Type3</td>
			    <td>Mtu3</td>
			    <td>Speed3</td>
			    <td>PhysAddress3</td>
			    <td>AdminStatus3</td>
			    <td>OperStatus3</td>
			    <td>LastChange3</td>
			    <td>InOctets3</td>
			    <td>InUcastPkts3</td>
			    <td>InNUcastPkts3</td>
			    <td>InDiscards3</td>
			    <td>InErrors3</td>
			    <td>InUnknownProtos3</td>
			    <td>OutOctets3</td>
			    <td>OutUcastPkts3</td>
			    <td>OutNUcastPkts3</td>
			    <td>OutDiscards3</td>
			    <td>OutErrors3</td>
			    <td>OutQLen3</td>
			    <td>Specific3</td>
			  </tr>
			</table>
	   	</div>
	</body>
</html>