<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/DataTables/js/dataTables.jqueryui.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css"/>
		<script type="text/javascript" src="/static/js/datatables.min.js"></script>

	    <title>Configuration</title>
	</head>
	<body>
		<h1>Configuration</h1>
		<a href="/">Index</a>
		<table id="" class="display" style="width:100%">
			<thead>
				<tr>
					<th>IP</th>
					<th>Community</th>
					<th>type</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for device in device_list%}
				<tr>
					<th><a href="/configure/edit/{{device.ip}}">{{device.ip}}</a></th>
					<th>{{device.version}}</th>
					<th>{{device.type}}</th>
					<th><a href="/configure/delete/{{device.ip}}">Delete</a></th>
				</tr>
				{% endfor %}
			</tbody>
        </table>
        <a href="/configure/create">Create a device</a>
		<script>
			$(document).ready(function() {
				$('table.display').DataTable();
			} );
		</script>
	</body>
</html>