<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" type="text/css" href="design.css">
	    <title>Supervision</title>
	</head>
	<body>
	    <h1>Supervisiom</h1>
	  	<div class="pie">
	  		<h2>Network Equipment</h2> 
	   		<div class="piechart"></div>
	   	</div>
	   	<div class="node">
	   		<ul>
	  			<li><a href="URL of node page avec en argument son IP">value1</a></li>
	  			<li><a href="URL of node page avec en argument son IP">value2</a></li>
	  			<li><a href="URL of node page avec en argument son IP">value2</a></li>
			</ul>
	   	</div>
	</body>
</html>