<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Supervision</title>
	</head>
	<body>
		<table>
			<th>
				<table border="1">
					<tr>
						<th>IP</th>
						<th>Community</th>
						<th>type</th>
						<th>Status</th>
					</tr>
					{% for device in device_list%}
					<tr>
						<th><a href="monitor/{{device.ip}}">{{device.ip}}</a></th>
						<th>{{device.community}}</th>
						<th>{{device.type}}</th>
						<th>?</th>
					</tr>
					{% endfor %}
				</table>
			</th><th>
				<table border="1">
					<tr>
						<th>logType</th>
						<th>logData</th>
						<th>logIP</th>
					</tr>
					{% for log in logs%}
					<tr>
						<th>{{log.logType}}</th>
						<th>{{log.logData}}</th>
						<th><a href="monitor/{{log.logIP}}">{{log.logIP}}</a></th>
					</tr>
					{% endfor %}
				</table>
			</th>
		</table>
	</body>
</html>